@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--main-font);
}

:root {
    --main-color: #1F1D47;
    --second-color: #6c5d94;
    --third-color: #bca8d3;
    --main-font: 'Sulphur Point';
    --second-font: 'Poiret One';
}

input {
    all: unset;
}